@page "/ChangePassword"
@layout LoginLayout
@inject NavigationManager NavigationManager
@inject Data.DB db
@inject Data.User user


<PageTitle>ChangePassword</PageTitle>

<div class="LoginWrapper">
        
            <h1>Change Password</h1>
            
            <h2>enter password</h2>
            <div class="input">
        <input type="password" placeholder="Password" required @bind="Password1" />
                <i class='bx bx-lock'></i>
            </div>
            <h2>re-enter password</h2>
            <div class="input">
                <input type="password" placeholder="Password" required @bind="Password"/>
                <i class='bx bx-lock'></i>
            </div>

            <div>@error</div>

            <div>
                <button @onclick="changePass"><b>Change Password</b></button>
            </div>
            <div>
                <button @onclick="goBack"><b>Back</b></button>
            </div>
        

</div>



@code {
    private string error = "";
    private string Password { get; set; }
    private string Password1 { get; set; }
    private void changePass()
    {
        if(Password != null && Password1 != null)
        {
            if (Password1 == Password)
            {
                db.ChangePassword(user.Email, Password);
                NavigationManager.NavigateTo("/Account");
            }
            else
            {
                error = "Passwords do not match";
            }
        }
        else
        {
            error = "Fill out all Fields!";
        }

        
    }
    private void goBack()
    {
        NavigationManager.NavigateTo("/Account");
    }
}


<style>
    body{
        background-color: #F5DAB3;

    }


</style>