@page "/ForgotPassword"
@layout LoginLayout
@inject NavigationManager NavigationManager
@inject Data.DB db
@inject Data.User user

<PageTitle>ChangePassword</PageTitle>

<div class="LoginWrapper">
        
            <h1>Change Password</h1>

    <h2>@securityQuestion</h2>
            <div class="input">
                <input type="text" placeholder="" required @bind="sec"/>
                <i class='bx bx-user'></i>
            </div>
            <h2>enter password</h2>
            <div class="input">
        <input type="password" placeholder="Password" required @bind="Password1" />
                <i class='bx bx-lock'></i>
            </div>
            <h2>re-enter password</h2>
            <div class="input">
        <input type="password" placeholder="Password" required @bind="Password" />
                <i class='bx bx-lock'></i>
            </div>

    <div>@error</div>

    <div>
        <button @onclick="changePass"><b>Change Password</b></button>
    </div>
            

        

</div>



@code {

    private string securityQuestion = "securityQuestion";
    private string error = "";

    string answer = "null";

    private string sec { get; set; }
    private string Password { get; set; }
    private string Password1 { get; set; }

    protected override void OnInitialized()
    {

        string[] str = db.GetSec(user.Email);
        string text = str[0];
        answer = str[1];
        ChangeText(text);
    }


    private void ChangeText(string text)
    {
        securityQuestion = text;
    }

    private void changePass()
    {
        if (sec != null && Password != null && Password1 != null)
        {
            if (answer == sec)
            {
                if (Password1 == Password)
                {
                    db.ChangePassword(user.Email, Password);
                    NavigationManager.NavigateTo("/Account");
                }
                else
                {
                    error = "Passwords do not match!";
                }
            }
            else
            {
                error = "Security Question Incorrect!";
            }

        }
        else
        {
            error = "Please fill out all fields!";
        }

    }

}


<style>
    body{
        background-color: #F5DAB3;

    }


</style>