@page "/UsernameForgotPassword"
@layout LoginLayout
@inject NavigationManager NavigationManager
@inject Data.DB db
@inject Data.User user



<body>
    <div class="LoginWrapper">
        <h2>Enter Username</h2>
        <div class="input">
            <input type="username" placeholder="Username" required @bind="Username" />
            <i class='bx bx-lock'></i>
        </div>

        <div>@error</div>

        <div>
            <button @onclick="changePass"><b>Change Password</b></button>
        </div>
    </div>
</body>


@code {
    private string error = "";
    private string Username { get; set; }
    private void changePass()
    {
        if (Username == null)
        {
            error = "Enter a Username";
        }

        else
        {
            if (db.EntryExist(Username))
            {
                user.Email = Username;
                NavigationManager.NavigateTo("/ForgotPassword");
            }

            else
            {
                error = "Account does not exist";
            }
        }
        
    }
}

<style>
    body {
        background-color: #F5DAB3;
    }

</style>