.navbar-toggler[b-vc5isxfgyw] {
    background-color: #912D2D;
}

.top-row[b-vc5isxfgyw] {
    height: 3.5rem;
    background-color: #912D2D;
}

.navbar-brand[b-vc5isxfgyw] {
    font-size: 1.1rem;
    background-color: #912D2D;
}

.oi[b-vc5isxfgyw] {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;

}

.nav-item[b-vc5isxfgyw] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
    background-color: #912D2D;
}

    .nav-item:first-of-type[b-vc5isxfgyw] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-vc5isxfgyw] {
        padding-bottom: 1rem;
        
    }

    .nav-item[b-vc5isxfgyw]  a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

        .nav-item[b-vc5isxfgyw]  a.active {
            background-color: #912D2D;
            color: white;
        }

.nav-item[b-vc5isxfgyw]  a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

@media (min-width: 641px) {
    .navbar-toggler[b-vc5isxfgyw] {
        display: none;
    }

    .collapse[b-vc5isxfgyw] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}
